<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".YourTripApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/yourtrip_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.MyAppTest">



        <!-- 앱 실행 시 제일 먼저 실행될 Activity -->
        <activity
            android:name=".LauncherActivity"
            android:exported="true"
            android:theme="@style/Theme.YourTrip.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        회원가입 및 로그인-->
        <activity android:name=".auth.LoginActivity" />
        <activity
            android:name=".auth.SignupCompleteActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SignupVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SignupProfileActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SignupPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SignupEmailActivity"
            android:exported="false" />

        <!-- 메인 화면 -->
        <activity android:name=".MainActivity" />

<!--        나의 여행-->
        <activity android:name=".mytrip.CreateCourseBasicActivity"
            android:exported="false"/>
        <activity android:name=".mytrip.CreateCourseDetailActivity"/>


    </application>

</manifest>